<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Movie Form</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-nowrap">
    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbar5">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand w-100">Your Movies</span>
    <div class="navbar-collapse collapse w-100 justify-content-center" id="navbar5">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{'/logout'}">LogOut</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{'/'}">Viewers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{'/'}">Back</a>
            </li>
        </ul>
    </div>
    <div class="w-100"><!--spacer--></div>
</nav>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!--/*@thymesVar id="ingredient" type="guru.springframework.commands.IngredientCommand"*/-->
            <form  th:object="${viewer}" th:action="@{'/viewer/new'} " method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>

                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Viewer Information</h1>
                        </div>
                        <div class="panel-body">


                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('username')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Username:</label>
                                    <input type="text" class="form-control" th:field="*{username}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('username')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('username')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('email')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Email:</label>
                                    <input type="text" class="form-control" th:field="*{email}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('email')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>

